:root {
  --primary-color: #1b7246;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 10px;
  margin: auto 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
}

input {
  background: none;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border-color: var(--primary-color)
}

header {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  width: fit-content;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  color: var(--primary-color);
  font-weight: lighter;
}

.logo img {
  margin-right: 10px;
}

#btn-logout {
  display: flex;
  align-items: center;
  background: #222;
  border: 1px solid #444;
  padding: 5px;
}

#btn-logout img {
  margin-right: 10px;
}

main {
  padding: 50px 150px;
}

form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

table {
  margin-top: 20px;
}

td,
th {
  border: 1px solid #ccc;
  padding: 5px;
}

.btn-pay {
  /* background-color:green;
    color: #fff; */
}

@media (prefers-color-scheme: dark) {
  * {
    color: #666;
  }
  body {
    background-color: #222;
  }

  form {
    border-color: #444;
  }

  header {
    border-bottom-color: #444;
  }

  td,
  th {
    border-color: #444;
  }
}
